# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

config BOARD_SK_CHEESECAKE_NRF_P00
	select SOC_NRF52840_QIAA
	select BOARD_EARLY_INIT_HOOK

config BOARD_SK_CHEESECAKE_NRF_P00_DEV
	bool
	default y if BOARD_SK_CHEESECAKE_NRF_P00_NRF52840_DEV

config BOARD_SK_CHEESECAKE_NRF_P00_UF2
	bool
	default y if BOARD_SK_CHEESECAKE_NRF_P00_NRF52840_UF2
