# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SLIMEVR_USB_DEVICE_MANUFACTURER="SlimeVR"
CONFIG_SLIMEVR_USB_DEVICE_PRODUCT="SlimeNRF Tracker SK CheeseCake NRF P00"

CONFIG_BATTERY_USE_REG_LDO_MAPPING=y
CONFIG_LED_RGB_COLOR=y
CONFIG_LED_STRIP=y
CONFIG_LED_GLOBAL_BRIGHTNESS_PPTT=1000
CONFIG_LED_DEFAULT_COLOR_R=10000
CONFIG_LED_DEFAULT_COLOR_G=3137
CONFIG_LED_DEFAULT_COLOR_B=5294
CONFIG_BLOCK_WOM_WHILE_PLUGGED=y
CONFIG_CHARGING_IDLE_LED_EFFECTIVE_BRIGHTNESS_PPTT=300
CONFIG_IGNORE_CHARGE_WAKE_ON_VBUS=y
CONFIG_SPI=y

# Experimental TCAL Heat settings
CONFIG_SYSTEM_IMU_HEATER_MAX_DUTY_PPTT=9900
CONFIG_SENSOR_TCAL_HEATED_DEFAULT_KP=300
CONFIG_SENSOR_TCAL_HEATED_DEFAULT_KI=5
CONFIG_SENSOR_TCAL_HEATED_DEFAULT_KFF=420

# Generate for Adafruit UF2 bootloader flashing.
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_BUILD_OUTPUT_UF2_FAMILY_ID="0xADA52840"
CONFIG_FLASH_LOAD_OFFSET=0x1000
